
.weekly-forecast-card{
  /* border: 1px solid white; */
  /* background-color: rgba(219, 223, 234, 0.6); */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 15px;
  width: 1000px;
  height: 200px;
  margin-bottom: 70px;
}

.week-wrapper{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-right: 30px;
  /* margin-top: 60px; */
}

.day-card{
  padding: 30px 30px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  /* margin-right: 10px; */
  /* background-color: rgba(255, 255, 255, 0.4); */
}

.day{
  margin-bottom: 12px;
  color: rgb(23, 107, 135);
  /* color: #7ea3bd; */
  /* color: #838181; */
}

.day-forecast{
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.eve-temp{
  opacity: 0.6;
  margin-left: 5px;
  color: rgb(52, 125, 117);
}

.weekly-forecast-icon{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}



@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .weekly-forecast-card {
    width: 90%;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .weekly-forecast-card {
    width: 80%;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .weekly-forecast-card {
    width: 70%;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}
